* {
  padding-right: 30 px;
  padding-left: 30 px;
}

#boring-divider {
  border: 2px solid black;
  width: 60%;
}

#about-me {
  background: grey;
}

#inverted-boring-divider {
  border: 2px solid grey;
  width: 60%;
}

#portfolio {
  color: grey;
  background: black;
  text-align: center;

  img {
    max-width: 300;
  }
}

#me-pic {
  display: block;
margin-left: auto;
margin-right: auto;
  max-height:300px;
}

#thumbnail-section {
  /* display: block; */
margin-left: auto;
margin-right: auto;
}


/* #main-div {

    padding-left: 0px;
    padding-right: 0px;
    background: green;

} */

/* .navbarTop {
    display: flex;
    background: #ccc;
    width: 100vw;
    justify-content: space-between;

  }
  .navbarTop div:nth-child(2) {
    margin-left: auto;
  } */
